---
layout: default
---
{% include site-header.html %}
<main class="field-post">
  <article>
    <p class="label">Field note</p>
    <h1 class="post-title">{{ page.title }}</h1>
    {% assign words = content | strip_html | number_of_words %}
    {% assign minutes = words | divided_by: 200.0 | ceil %}
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time>
      <span>{{ minutes }} min read</span>
    </div>
    {{ content }}
  </article>
  {% include reading-footer.html %}
</main>
